<p>error-page works!</p>

<ul>
    <h4>Auth</h4>
    <li>
        <a routerLink="/auth/login">Ir a login</a>
    </li>
    
    <li>
        <a routerLink="/auth/register">Ir a registro</a>
    </li>
    
    <br>
    <h4>Heroes</h4>
    <li>
        <a routerLink="/heroes/listado">Ir a listado</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Ir a agregar</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">Ir a editar</a>
    </li>
    <li>
        <a routerLink="/heroes/:id">Ir a heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/">Ir a listado</a>
    </li>
</ul>