<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">       
        <mat-toolbar color="primary">
            
            <span>Menu</span>
            <span class="spacer"></span>
            
            <button mat-icon-button (click)="sidenav.toggle()">
               <mat-icon >
                    menu
               </mat-icon>
               
           </button>
           
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado"
                mat-list-item
                (click)="sidenav.toggle()"
                >
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de heroes</span>
            </a>

            <a routerLink="./agregar"
                mat-list-item
                (click)="sidenav.toggle()"
                >
                <mat-icon mat-list-icon>terminal</mat-icon>
                <span>Agregar heroes</span>
            </a>

            <a routerLink="./buscar"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Consulta de heroes</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>

     <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon >
                 menu
            </mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button>
            Logout
        </button>
     </mat-toolbar>

     
     <div class="mycontainer">
         <router-outlet></router-outlet>
     </div> 
     
</mat-sidenav-container>
