<div fxLayout="column">
    <div>
        <h1>Buscador de heroes</h1>
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="column">
        <h3>Buscador</h3>

        <mat-form-field>
            <input  type="text"
                    placeholder="Pick one"
                    aria-label="Number"
                    matInput
                    [(ngModel)]="termino"
                    [matAutocomplete]="auto"
                    (input)="search()"
            >
            <mat-autocomplete 
                autoActiveFirstOption 
                #auto="matAutocomplete"
                (optionSelected)="optSelected( $event )">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{ heroe.superhero}}
                </mat-option>

                <mat-option *ngIf="heroes.length === 0 && termino.trim().length != 0" value="">
                    Nada coincide con ==> {{ termino }}
                </mat-option>
            </mat-autocomplete>

            
        </mat-form-field>

    </div>

    <div>
        <pre>{{ heroeSelected | json }}</pre>
    </div>
</div>